---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Init from '../components/Init.astro';
---

<Layout title="Portfolio Prototype 4">
	<Header page='index'/>
	<main>
		<Init />
	</main>
	<Footer />
</Layout>

<style>

</style>
