---

---

<article class="flex flex-col justify-start items-center gap-12">

    <header>
        <h2 class="text-4xl font-bold text-blue-700">Education</h2>
    </header>

    <section class="flex flex-col gap-8 justify-center items-center">

        <article class="flex flex-row gap-8 justify-center items-start py-4">
            <header>
                <time class="font-extralight" datetime="">2010-2016</time>
            </header>

            <p class="font-semibold text-xl max-w-md ">University of Boston, Computer Science</p>

            <p class="text-[#8d8d8d] max-w-64 text-balance">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p>
        </article>

        <hr class="border-t border-[#b9b9b9] w-4/5 m-auto">

        <article class="flex flex-row gap-8 justify-center items-start py-4">
            <header>
                <time class="font-extralight" datetime="">2010-2016</time>
            </header>

            <p class="font-semibold text-xl max-w-md ">University of Boston, Computer Science</p>

            <p class="text-[#8d8d8d] max-w-64 text-balance">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p>
        </article>
    </section>

</article>