---

---

<article class="flex flex-col justify-start items-center gap-16">

    <header>
        <h2 class="text-4xl font-bold text-blue-one">Education</h2>
    </header>

    <section class="flex flex-col gap-8 justify-center items-center
    [&>article]:flex [&>article]:flex-col [&>article]:md:flex-row [&>article]:gap-4 [&>article]:md:gap-8 [&>article]:justify-center [&>article]:items-start [&>article]:py-4">

        <article class="">
            <header>
                <time datetime="">2010-2016</time>
            </header>
            <div class="flex flex-col gap-1 font-semibold text-xl max-w-md">
                <p class="">University of Boston,</p>
                <p class="">Computer Science</p>
            </div>
            <p class="text-[#8d8d8d] max-w-64 text-balance">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p>
        </article>

        <hr class="border-t border-[#b9b9b9] w-full md:w-4/5 m-auto">

         <article class="">
            <header>
                <time datetime="">2010-2016</time>
            </header>
            <div class="flex flex-col gap-1 font-semibold text-xl max-w-md">
                <p class="">University of Boston,</p>
                <p class="">Computer Science</p>
            </div>
            <p class="text-[#8d8d8d] max-w-64 text-balance">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p>
        </article>

    </section>

</article>