---
interface Props {
	page: string;
}

const { page } = Astro.props;
---


<header id="header" class="w-full gap-4 md:gap-0 px-6 md:px-10 pt-8 pb-4 max-w-5xl m-auto flex flex-col md:flex-row justify-center md:justify-between items-start md:items-center tracking-[1px] scroll-smooth">

    <a href="/">
        <h1 class="uppercase text-xl font-bold text-wrap">Fabricio <span class="block">Jordán<span class="text-4xl leading-4 text-blue-700">.</span></span></h1>
    </a>

    <hr class="md:hidden border-t border-[#292929] w-full">

    <ul class="text-[#a59f96] w-full flex flex-row justify-end items-center gap-4 md:gap-8
    hover:[&_A]:text-black font-medium [&_A]:transition-colors [&_A]:duration-300">
        <li>
            <a class="index" href="/">Work</a>
        </li>
        <li>
            <a class="gallery" href="Gallery">Gallery</a>
        </li>
        <li>
            <a class="about" href="About">About</a>
        </li>
        <li>
            <a class="px-6 py-2.5 transition-all duration-500 !text-[#ffffff] !bg-[#494949] hover:!bg-[#000] rounded-3xl" href="">Email Me</a>
        </li>
    </ul>

</header>