---
import Projects from "./Projects.astro"
import Testimonials from "./Testimonials.astro"
import Education from "./Education.astro"
import InfoStats from "./InfoStats.astro"

import userImage from "../assets/images/user.jpg"
---


<section class="relative flex flex-col gap-20 md:gap-24 justify-center items-center w-full m-auto px-6 md:px-10 pt-12 pb-20 max-w-5xl">

    <section class="flex flex-col lg:flex-row gap-12 md:gap-16 justify-center items-center w-full m-auto">
        <article class="">
            <img class="size-64 sm:size-[24em] bg-cover animation-morph" src={userImage?.src} alt="">
        </article>
        
        <article class="flex flex-col gap-8 justify-center items-start max-w-md">
            <header class="flex flex-col gap-2 justify-center items-start text-pretty">
                <p class="text-blue-one font-semibold uppercase">About</p>
    
                <h2 class="font-bold text-3xl">Fabricio Jordán is a Web Designer based in Uruguay.</h2>
            </header>
    
            <p class="text-[#767676] text-pretty">I am a Web Designer, and I'm very passionate and dedicated to my work. With 20 years experience as a professional Web developer, I have acquired the skills and knowledge necessary to make your project a success.</p>
    
            <a class="bg-blue-one transition-colors duration-300 hover:bg-blue-one-hover  px-10 py-3 text-lg text-white rounded-md" href="">Download CV</a>
        </article>
    </section>

    <InfoStats />

    <Projects />

    <Testimonials />
    
    <Education />

    <a href="#header" class="fixed bottom-8 right-4 cursor-pointer bg-blue-one rounded-[1000px] p-3"><svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#fff" d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/></svg></a>
</section>

<style is:global>
li{
    list-style: none;
}

#profileCard li:before {
    counter-increment: section;
    content: "*";
    color: rgb(29 78 216);
}

.bg-shadow-1{
        -webkit-box-shadow: 6px 10px 20px 1px rgba(179,179,179,1);
        -moz-box-shadow: 7px 12px 26px 1px rgba(179,179,179,1);
        box-shadow: 7px 12px 26px 1px rgba(179,179,179,1);
    }

    
.bg-shadow-2{
        -webkit-box-shadow: 3px 7px 17px 1px rgba(179,179,179,1);
        -moz-box-shadow: 4px 8px 19px 1px rgba(179,179,179,1);
        box-shadow: 4px 8px 19px 1px rgba(179,179,179,1);
    }
    .animation-morph{
        animation: morph 20s infinite;
    }
    @keyframes morph {
        0% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
        }
        50% {
            border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
            background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
        }
        100% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
        }
    }
</style>
