---

import projectImage from "../assets/images/projects/project-1.jpg"
---

<!--    projects     -->
<article class="flex flex-col justify-start items-center gap-12">

    <header class="">
        <h2 class="text-4xl font-bold text-blue-700">Projects</h2>
    </header>

    <section class="flex flex-row flex-wrap gap-6 md:gap-12 justify-center items-center 
    [&>article]:bg-[#ededed] [&>article]:flex [&>article]:flex-col [&>article]:gap-4 [&>article]:justify-center [&>article]:items-center [&>article]:rounded-md [&>article]:max-w-sm [&>article]:border-b-2 [&>article]:border-[#1d4ed8]"> 

        <article class=" bg-shadow-2">

            <header class="w-full m-auto overflow-hidden rounded-t-md">
                <img class="w-full m-auto h-full rounded-t-md transition-transform duration-300 hover:scale-110" src={projectImage?.src} alt="">
            </header>

            <footer class="flex flex-col gap-8 justify-center items-start px-6 py-3">
                <div class="flex flex-col justify-center items-start gap-4">
                    <a class="transition-colors duration-300 hover:text-blue-700" href=""><h6 class="font-bold text-2xl ">My First Project Name</h6></a>
                    <time class="text-sm text-[#8d8d8d]" datetime="">January 9, 2021</time>
                    <p class="font-medium text-pretty max-w-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut...</p>
                </div>
                <a class="bg-blue-700 transition-colors duration-300 hover:bg-blue-900 cursor-pointer py-2 px-4 rounded-md text-white" href="">Ir al proyecto</a>
            </footer>
        </article>

        <article class=" bg-shadow-2">

            <header class="w-full m-auto overflow-hidden rounded-t-md">
                <img class="w-full m-auto h-full rounded-t-md transition-transform duration-300 hover:scale-110" src={projectImage?.src} alt="">
            </header>

            <footer class="flex flex-col gap-8 justify-center items-start px-6 py-3">
                <div class="flex flex-col justify-center items-start gap-4">
                    <a class="transition-colors duration-300 hover:text-blue-700" href=""><h6 class="font-bold text-2xl ">My First Project Name</h6></a>
                    <time class="text-sm text-[#8d8d8d]" datetime="">January 9, 2021</time>
                    <p class="font-medium text-pretty max-w-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut...</p>
                </div>
                <a class="bg-blue-700 transition-colors duration-300 hover:bg-blue-900 cursor-pointer py-2 px-4 rounded-md text-white" href="">Ir al proyecto</a>
            </footer>
        </article>

        <article class=" bg-shadow-2">

            <header class="w-full m-auto overflow-hidden rounded-t-md">
                <img class="w-full m-auto h-full rounded-t-md transition-transform duration-300 hover:scale-110" src={projectImage?.src} alt="">
            </header>

            <footer class="flex flex-col gap-8 justify-center items-start px-6 py-3">
                <div class="flex flex-col justify-center items-start gap-4">
                    <a class="transition-colors duration-300 hover:text-blue-700" href=""><h6 class="font-bold text-2xl ">My First Project Name</h6></a>
                    <time class="text-sm text-[#8d8d8d]" datetime="">January 9, 2021</time>
                    <p class="font-medium text-pretty max-w-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut...</p>
                </div>
                <a class="bg-blue-700 transition-colors duration-300 hover:bg-blue-900 cursor-pointer py-2 px-4 rounded-md text-white" href="">Ir al proyecto</a>
            </footer>
        </article>
    </section>    

</article>