---

---

<section class="flex flex-row justify-start items-center gap-12">

    <article class="relative flex flex-col gap-6 justify-center items-start overflow-hidden">
        <header class="z-10">
            <span class="text-sm text-blue-700 font-semibold uppercase">TESTIMONIALS</span>
            <h6 class="font-bold text-2xl">Clients Feedback</h6>
        </header>
        <footer class="z-10">
            <p class="max-w-lg text-[#5d5d5d]">Testimonials are one of the most important tools a company can use to show potential customers how valuable their products and services are. Testimonials are a short statement that describes how a product or service worked for a customer. Testimonials can help build trust and credibility with your customers.</p>
        </footer>
        <a class="z-10 px-6 py-2.5 rounded-md bg-blue-700 text-white" href="">Contact Me</a>
        
        <div class="absolute top-2 right-0 z-0"><svg class="w-4/5"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#94bbff47" d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"/></svg></div>
    </article>
    
    <article class="bg-[#f3f3f3] rounded-md bg-shadow-1 px-14 py-12 flex flex-col gap-8 justify-center items-center">
        <header class="flex flex-col gap-4">
            <span class="[&>*]:text-2xl [&>*]:text-[#f7ce00]">
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
            </span>
            <p class="max-w-md text-pretty text-[#5d5d5d] leading-[26px]">Wonderful support. Immediate response and they return with an easy fix and clear information. Applied the fix and it worked like a charm. You can definately trust!</p>
        </header>

        <footer class="flex flex-row gap-4 justify-start items-center w-full">
            <img class="size-14 rounded-[1000px]" src="/src/assets/images/testimonials/testimonials-1.jpg" alt="">
            <span class="flex flex-col gap-1 justify-center items-start">
                <h6 class="font-semibold text-xl">Arnold Smith</h6>
                <p class="text-[#5d5d5d]">ABC Studio</p>
            </span>
        </footer>

    </article>
</section>
